/* ПРОЕКТ
     ========================================================================== */
/* Глобальные селекторы
     ========================================================================== */

body
{
    font-family: 'Roboto','Tahoma', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;

    min-width: 900px;
    margin: 0;
    padding: 0;

    color: #fff;
    background-color: #849d8f;
}

a
{
    text-decoration: none;
}

.overlay
{
    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,.3);
}

.visually-hidden
{
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;
}

.hidden
{
    display: none;
}

.site-wrapper
{
    transition: background-image .5s ease, background-color .5s ease;

    background-color: #849d8f;
    background-image: url('../img/sliderbg1.png');
    background-repeat: no-repeat;
    background-position: top center;
}

.site-wrapper::before,
.site-wrapper::after
{
    visibility: hidden;

    content: ' ';
}

.site-wrapper::before
{
    background-image: url('../img/sliderbg2.png');
}

.site-wrapper::after
{
    background-image: url('../img/sliderbg3.png');
}

.btn
{
    font: inherit;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;

    display: inline-block;

    cursor: pointer;
    text-align: center;

    color: #fff;
    border: none;
    border-radius: 40px;
    background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, .64);
}

.btn:hover,
.btn:focus
{
    background-color: #fff;
    background-image: linear-gradient(to top, #ec6e5d 0%, #f58669 100%);
    box-shadow: 0 2px 2px #ac1000;
}

.btn:active
{
    background-color: rgba(0, 0, 0, .07);
    background-color: #fff;
    background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
    box-shadow: inset 0 2px 2px #942718;
}

/* Хедер
     ========================================================================== */
.main-header a
{
    color: #fff;
}

.main-navigation
{
    display: flex;
    flex-direction: row;

    width: 80%;
}

.container
{
    max-width: 1146px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-header > .container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-header-logo
{
    width: 13.5%;
    margin-right: 24px;
    padding-top: 15px;
}

.main-header
{
    width: 100%;
}

.site-navigation
{
    display: flex;
    justify-content: space-between;

    margin: 0;
    margin-top: 24px;
    margin-right: 88px;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 0;
}

.user-navigation
{
    display: flex;
    justify-content: space-between;

    margin-top: 24px;
    margin-right: 0;
    margin-left: 0;
    padding: 0;
}

.working-time
{
    margin-left: auto;

    text-align: right;
}

.working-time p
{
    margin: 0;
    margin-top: 8px;
    padding: 0;
}


.user-navigation li,
.site-navigation li
{
    list-style: none;
}

.site-navigation > li
{
    margin: 0;
}

.site-navigation-item
{
    display: block;

    padding: 7px 14px 8px 13px;

    border-radius: 15px;
}

.site-navigation-item::after
{
    display: block;

    height: 1px;

    content: ' ';

    background-color: rgba(255, 255, 255, .2);
}

.site-navigation-item .menu-list,
.site-navigation-item:hover,
.site-navigation-item:focus
{
    color: #323232;
    background-color: #f7f6f3;
}

.site-navigation-item:active,
.site-navigation-item-current:active
{
    box-shadow: inset 0 2px 1px #696969;
}

.user-navigation-item
{
    display: block;

    padding: 8px 17px;

    text-align: center;

    color: #fff;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, .2);
    /*margin-left: 20px;*/
}

.user-navigation-item:hover,
.user-navigation-item:focus
{
    color: #323232;
    background-color: #f7f6f3;
}

/* Меню хедера
     ========================================================================== */
.menu-list
{
    padding-bottom: 5px;
}

.menu-drop
{
    line-height: 16px;

    position: absolute;
    z-index: 6;

    display: none;

    width: 143px;
    width: 143px;
    height: 171px;
    height: 171px;
    margin-top: 5px;
    margin-left: -7px;

    text-align: left;

    color: #323232;
    border-radius: 5px;
    background-color: #f8f7f4;
    box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
}

.menu-drop p
{
    width: 121px;
    margin-top: 10px;
    margin-bottom: 6px;
    margin-left: 6px;
    padding-bottom: 10px;
    padding-left: 17px;

    border-bottom: 1px solid #d1d0ce;
}

.menu-drop ul
{
    margin-left: 0;
    padding: 0;
}

.menu-drop a
{
    font-size: 14px;
    font-weight: 400;

    display: block;

    width: 122px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 21px;

    color: inherit;
}

.menu-drop-current
{
    background-color: #d07058;
}

.menu-drop a:hover,
.menu-drop a:focus
{
    background-color: #fbded7;
}

.menu-drop a:active
{
    background-color: #f6b5a5;
}



.menu-list:hover .menu-drop,
.site-navigation-item-current:hover + .menu-drop,
.site-navigation-item-current:focus + .menu-drop,
.site-navigation-item:hover + .menu-drop,
.site-navigation-item:focus + .menu-drop
{
    display: block;
}

.site-navigation-item-current
{
    display: block;

    margin: 0;
    padding: 7px 14px 8px 13px;

    border-radius: 25px;
    background-color: #d07058;
}

/* Навигация пользователя
     ========================================================================== */

.working-time p:first-child
{
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
}

/* Поиск
     ========================================================================== */
.search
{
    position: relative;
}


.search-list
{
    width: 33px;
    height: 33px;
    padding: 0;

    border-radius: 50%;
    background-image: url('../img/search.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.search-list:hover,
.search-list:focus
{
    background-image: url('../img/search-hover.svg');
}

.search-section
{
    position: absolute;
    z-index: 6;
    right: 0;

    display: none;

    width: 341px;
    height: 84px;
    margin-top: 7px;

    border-radius: 5px;
    background-color: #f8f7f4;
    box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
}

.search input[type='search']
{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

    width: 311px;
    height: 44px;
    margin-top: 20px;
    margin-left: 15px;
    padding-left: 13px;

    border: 1px solid #d3d3d2;
    border-radius: 5px;
    background-color: #fff;
}
.search input[type='search']:hover
{
    box-shadow: inset 0 0 0 1px rgba(154, 154, 154, .52);
}

.search-list:focus + .search-section,
.search-list:hover + .search-section,
.search-list:active + .search-section,
.search:hover .search-section
{
    display: block;
}

/* Логин
     ========================================================================== */

.login
{
    position: relative;

    margin-left: 20px;
}

.login-list
{
    padding-left: 35px;

    background-image: url('../img/login.svg');
    background-repeat: no-repeat;
    background-position: 8px 7px;
}

.login-list:hover,
.login-list:focus,
.login-list-active
{
    background-image: url('../img/login-hover.svg');
}

.login-section
{
    position: absolute;
    z-index: 6;
    right: -10px;

    display: none;

    height: 214px;
    margin-top: 5px;

    border-radius: 5px;
    background-color: #f8f7f4;
    box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
}

.login p
{
    margin: 0;
    margin-right: 19px;
    margin-left: 17px;
}

.login input[type='email'],
.login input[type='password']
{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

    width: 241px;
    height: 44px;
    margin-top: 20px;
    padding-left: 15px;

    border: 1px solid #d3d3d2;
    border-radius: 5px;
    background-color: #fff;
}
.login input[type='email']:hover,
.login input[type='password']:hover
{
    box-shadow: inset 0 0 0 1px rgba(154, 154, 154, .52);
}

.login-form-bottom
{
    display: flex;
    flex-direction: row;

    margin-top: 20px;
    margin-right: 15px;
    margin-left: 15px;
}

.form-link
{
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;

    text-decoration: underline;

    color: #323232;
}

.form-link:hover,
.form-link:focus,
.form-link:active
{
    color: #e84d37;
}

.login > a
{
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

.login-btn
{
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;

    padding: 10px 25px;
}

.login-list:focus + .login-section,
.login-list:hover + .login-section,
.login-list:active + .login-section,
.login:hover .login-section
{
    display: block;
}

/* Корзина
     ========================================================================== */
.cart
{
    position: relative;

    margin-left: 20px;
}

.cart-list
{
    position: relative;

    padding-left: 35px;

    background-image: url('../img/cart.svg');
    background-repeat: no-repeat;
    background-position: 8px 7px;
}

.cart-list:hover,
.cart-list:active,
.cart-list:focus
{
    background-image: url('../img/cart-hover.svg');
}
.full-cart
{
    position: relative;

    margin-left: 20px;

    color: #323232;
}

.full-cart-list
{
    position: relative;

    padding-left: 35px;

    color: #323232;
    background-color: #fff;
    background-image: url('../img/fullcart.svg');
    background-repeat: no-repeat;
    background-position: 8px 7px;
}


.cart-section
{
    position: absolute;
    z-index: 6;
    right: 0;

    display: none;

    width: 540px;
    margin-top: 8px;

    border-radius: 5px;
    background-color: #f8f7f4;
    box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
}

.cart > a,
.full-cart > a
{
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

.full-cart-items
{
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;

    display: flex;
    flex-direction: column;

    padding-left: 0;
}

.full-cart-item
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-right: 20px;
    margin-left: 12px;
}

.full-cart-items img
{
    margin-top: 6px;
    margin-right: 12px;
    margin-left: 12px;

    border-radius: 50%;
}

.full-cart-description
{
    width: 43%;
}

.full-cart-items span
{
    color: #999;
}

.cart-final-price
{
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
}

.working-time p:last-child
{
    font-size: 22px;
    font-weight: 700;
    line-height: 16px;
}

.removebtn
{
    visibility: hidden;

    width: 11px;
    height: 11px;
    margin-top: 10px;
}

.removebtn::after
{
    position: absolute;

    visibility: visible;

    width: 11px;
    height: 11px;

    content: ' ';

    background-image: url('../img/x.svg');
    background-size: cover;
}

.full-cart-items::after
{
    display: flex;

    width: 510px;
    height: 1px;
    margin-right: auto;
    margin-left: auto;

    content: ' ';

    background-color: #cacac7;
}

.checkout-btn
{
    align-self: flex-end;

    padding: 12px 11px;

    border: 15px;
}

.cart-section p
{
    margin: 0;
    margin-top: 16px;
    margin-right: 14px;
    margin-bottom: 19px;

    text-align: right;
}

.full-cart-list:focus + .cart-section,
.full-cart-list:hover + .cart-section,
.full-cart-list:active + .cart-section,
.full-cart:hover .cart-section
{
    display: block;
}

/* Стили главной страницы(|INDEX|) и каталога(|CATALOG|)
     ========================================================================== */

.way
{
    display: flex;

    margin-top: -10px;

    list-style: none;
}

.way a::after
{
    display: block;

    height: 1px;

    content: ' ';

    background-color: rgba(255, 255, 255, .2);
}

/* Сортировка (|CATALOG|)
     ========================================================================== */

.sorting-menu
{
    width: 860px;
    margin-right: auto;
    margin-left: 0;
}

.sorting-menu fieldset
{
    padding: 0;
}


.sort
{
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;

    display: flex;
    flex-wrap: wrap;

    color: #fff;
}

.sort fieldset
{
    border: none;
}

.sort-popularity select
{
    align-self: center;

    margin-top: 8px;
    margin-right: 14px;
    padding: 10px 16px;

    color: #fff;
    border: none;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, .2);
}

.sort-popularity select:hover
{
    color: #323232;
    background-color: #fff;
}

.sort-popularity option
{
    color: #323232;
    background-color: #fff;
}

.radio-option
{
    position: relative;

    opacity: .8;
}


.radio-option label
{
    position: relative;

    display: block;

    padding-top: 5px;
    padding-left: 35px;

    cursor: pointer;
    user-select: none;
}

.radio-option label::before
{
    position: absolute;
    top: 0;
    left: 0;

    width: 18px;
    height: 18px;

    content: ' ';

    border: 4px solid #fff;
    border-radius: 50%;
}

.filter-input-radio:checked + label::after
{
    position: absolute;
    bottom: 4px;
    left: 7px;

    width: 12px;
    height: 12px;

    content: ' ';

    border-radius: 50%;
    background-color: #fff;
}

.select-option
{
    position: relative;

    opacity: .8;
}


.select-option label
{
    position: relative;

    display: block;

    padding-top: 5px;
    padding-left: 35px;

    cursor: pointer;
    user-select: none;
}

.select-option label::before
{
    position: absolute;
    top: 0;
    left: 0;

    width: 19px;
    height: 20px;

    content: ' ';

    border: 2px solid rgba(255,255,255, .8);
    border-radius: 3px;
}

.filter-input-checkbox:checked + label::after
{
    position: absolute;
    top: 0;
    left: 0;

    width: 26px;
    height: 20px;

    content: ' ';

    background-image: url('../img/checkbox-on.svg');
    background-repeat: no-repeat;
}

.min-input,
.max-input
{
    color: #fff;
    border: none;
    background-color: inherit;
}

.filter-price
{
    margin-top: 0;
    margin-right: 10px;
}

.sort-prices-filter
{
    display: flex;
    flex-direction: column;

    color: #fff;
}

.price-top
{
    display: flex;
    flex-direction: row;
}

.sort-price
{
    margin-top: 0;
}

.sort-price input
{
    font: inherit;

    width: 30px;
    margin: 0;

    color: inherit;
    border: none;
    background: none;
}


.range-controls
{
    position: relative;
    bottom: 10px;
}

.range-controls .scale
{
    width: 176px;
    height: 2px;

    border: 50px;
    background: rgba(255, 255, 255, .5);
}

.range-controls .scale-border
{
    padding: 20px 17px;

    border-radius: 50px;
    background: rgba(255, 255, 255, .2);
}

.range-controls .bar
{
    width: 107px;
    height: 2px;
    margin-left: 17px;

    background: #fff;
}

.range-toggle
{
    position: absolute;

    width: 4px;
    height: 4px;

    cursor: pointer;

    border: 8px solid #fff;
    border-radius: 50%;
    background: #ababab;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, .2);
}

.range-toggle-max
{
    top: 11px;
    right: 0;

    margin-right: 60px;
}

.range-toggle-min
{
    top: 11px;
    left: 0;

    margin-left: 26px;
}

.sort-fats-filter
{
    display: flex;

    width: 48%;
    margin-right: 0;
    margin-left: auto;
}

.sort-fat
{
    display: flex;
    justify-content: space-between;

    margin-top: 7px;
    padding: 10px 16px;

    list-style: none;

    border-radius: 50px;
    background-color: rgba(255, 255, 255, .2);
}

.sort-insides-filter
{
    display: flex;

    width: 83%;
}

.sort-inside
{
    display: flex;
    justify-content: space-between;

    margin-top: 5px;
    padding: 12px 16px;
    padding-top: 8px;

    list-style: none;

    border-radius: 50px;
    background-color: rgba(255, 255, 255, .2);
}

.sort-btn
{
    align-self: center;

    margin-top: 8px;
    margin-right: 0;
    margin-left: auto;
    padding: 11px 16px;

    color: #fff;
    border: 2px solid #fff;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, .2);
}

.sort-btn:hover
{
    color: #323232;
    background-color: #fff;
}

.sort-btn:active
{
    background-color: #ededed;
    box-shadow: inset 0 2px 1px #696969;
}

.radio-option:hover,
.select-option:hover
{
    opacity: 1;
}

.radio-option-locked,
.select-option-locked
{
    opacity: .4;
}


.pagination-item a
{
    font-family: sans-serif;
    line-height: 1;
    line-height: 28px;

    display: inline-block;

    box-sizing: border-box;
    min-width: 28px;
    height: 28px;
    padding: 0 10px;

    vertical-align: middle;
    text-decoration: none;

    color: #fff;
    border-radius: 28px;
}

.current > a
{
    color: #323232;
    background-color: #fff;
}

.pagination-item a:hover
{
    color: #323232;
    background: rgba(255, 255, 255, .2);
}
.pagination-item:first-child > a,
.pagination-item:last-child > a
{
    background-image: url('../img/page-arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.disable > a
{
    opacity: .5;
}

.pagination-item:first-child > a
{
    transform: rotate(180deg);
}
.pagination-item:first-child > a:hover
{
    background-image: url('../img/page-arrow.svg');
}

.current > a:hover
{
    color: #323232;
    background-color: #fff;
}

.catalog-border
{
    display: flex;
    flex-grow: 1;

    height: 1px;

    opacity: .4;
    background-color: #fff;
}

/* Слайдер |INDEX|
     ========================================================================== */
.slider
{
    position: relative;

    width: 100%;
    padding-top: 200px;
}

.slide
{
    display: none;
}

.slider-list
{
    margin: 0;
    padding: 0;
}

.slider-item p
{
    font-size: 60px;
    font-weight: 700;
    line-height: 60.35px;

    width: 85%;
    margin-right: auto;
    margin-left: auto;

    text-align: center;
}


.slider-btn
{
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;

    padding: 17px 42px;

    text-shadow: 0 2px 5px rgba(160, 32, 11, .76);
}

.slider-controls label
{
    display: inline-block;

    width: 17px;
    height: 17px;
    margin-right: 8px;

    cursor: pointer;
    vertical-align: top;

    border: 2px solid #fff;
    border-radius: 50%;
    background-color: transparent;
}

.slider-controls
{
    font-size: 0;

    position: absolute;
    z-index: 20;
    bottom: 63px;
}

.slide-1-checker:checked ~ .site-wrapper
{
    background-color: #849d8f;
    background-image: url('../img/sliderbg1.png');
}

.slide-2-checker:checked ~ .site-wrapper
{
    background-color: #8996a6;
    background-image: url('../img/sliderbg2.png');
}

.slide-3-checker:checked ~ .site-wrapper
{
    background-color: #9d8b84;
    background-image: url('../img/sliderbg3.png');
}

.slide-1-checker:checked ~ .site-wrapper #slide1,
.slide-2-checker:checked ~ .site-wrapper #slide2,
.slide-3-checker:checked ~ .site-wrapper #slide3
{
    display: block;
}

.slide-1-checker:checked ~ .site-wrapper label[for='slide-1'],
.slide-2-checker:checked ~ .site-wrapper label[for='slide-2'],
.slide-3-checker:checked ~ .site-wrapper label[for='slide-3']
{
    background-color: #fff;
}

.slide-1-checker:checked:hover ~ .site-wrapper label[for='slide-1'],
.slide-2-checker:checked:hover ~ .site-wrapper label[for='slide-2'],
.slide-3-checker:checked:hover ~ .site-wrapper label[for='slide-3']
{
    background-color: #fff;
}

.slide-1-checker:hover ~ .site-wrapper label[for='slide-1'],
.slide-2-checker:hover ~ .site-wrapper label[for='slide-2'],
.slide-3-checker:hover ~ .site-wrapper label[for='slide-3']
{
    background-color: #b2c1b7;
}

/* Бонусы при покупке |INDEX|
     ========================================================================== */
.special
{
    width: 100%;
    margin-top: 30px;
}

.special > .container
{
    display: flex;
}

.special h3
{
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;

    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}

.special p
{
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;

    max-width: 515px;
    margin: 0;
    padding: 0;
}

.special-offer1
{
    display: flex;
    flex-direction: column;

    width: 48%;
    margin-right: 10px;
    padding: 25px 20px;

    border-radius: 15px;
    background-color: #af2d4d;
    background-image: url('../img/raspberriesbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.special-offer2
{
    display: flex;
    flex-direction: column;

    width: 48%;
    margin-left: 10px;
    padding: 25px 20px;

    border-radius: 15px;
    background-color: #41271a;
    background-image: url('../img/chocolatebg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.special-btn
{
    align-self: flex-end;

    margin-top: 20px;
    padding: 14px 24px;
}

/* Товар |INDEX| |CATALOG|
     ========================================================================== */

.product a
{
    color: #fff;
}

.product-container
{
    min-width: 886px;
    max-width: 1186px;
    margin: 0 auto;
    padding: 0 7px;
}

.product
{
    position: relative;

    display: flex;
    flex-direction: column;

    width: 22.5%;
    margin: 0;
    margin-bottom: -70px;
    padding: 0 1.1%;
    padding-bottom: 16px;

    list-style: none;

    text-align: center;
}

.product-hits .product:before
{
    position: absolute;
    top: 10px;

    width: 61px;
    height: 61px;

    content: ' ';

    background-image: url('../img/hit.svg');
    background-repeat: no-repeat;
}

.assortment-product
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 100%;
    margin: 0;
    margin-top: 30px;
    padding: 0;
}

.product-hits
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 0;
    margin-top: 30px;
    padding: 0;
}

.product h3
{
    order: 1;

    margin: 0;
}

.product-btn
{
    visibility: hidden;
    order: 1;

    margin: 0;
    margin-top: auto;
    margin-bottom: 0;
    padding: 14px 9px;

    border: 20px;
}

.product-image
{
    margin-top: 9px;
    margin-bottom: 0;
}

.product-image img
{
    width: 100%;
    height: auto;

    border-radius: 50%;
}

.product-description
{
    font-size: inherit;
    font-weight: 500;

    display: flex;
    order: 1;

    margin-bottom: 16px;
}

.product-description span
{
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .2);
}

.product-price
{
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;

    display: flex;

    margin-top: -70px;
    margin-bottom: 40px;

    text-shadow: 0 1px 3px rgba(49, 50, 53, .5);
}

.product-price span
{
    font-size: 38px;
}

.product-price span:last-child
{
    font-size: 30px;
}

.product:hover,
.product:focus
{
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .2);
}

.product:hover .product-btn,
.product:hover + .product-btn,
.product:focus + .product-btn
{
    visibility: visible;
}

.product:hover
{
    z-index: 5;

    box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
}


/*Преймущества |INDEX|
     ==========================================================================
*/

.advantages
{
    width: 100%;
    margin-top: 20px;
}

.advantages-background
{
    display: flex;
    flex-direction: column;

    max-width: 1146px;

    list-style: none;

    color: #323232;
    border-radius: 15px;
    background-color: #e8dbbe;
    background-image: url('../img/waffelbg.jpg');
}

.advantages-about
{
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;

    margin: 0;
    padding: 0;
    padding-top: 15px;
    padding-left: 20px;
}

.advantages-description
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-top: 0;
    padding: 0;
}

.advantages-dicription-item
{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;

    position: relative;

    display: flex;

    width: 45%;
    padding-top: 30px;
    padding-left: 30px;

    list-style: none;
}

.advantages-dicription-item span
{
    margin-left: 56px;
}

.icecream::before
{
    position: absolute;
    top: 10px;
    left: 22px;

    width: 49px;
    height: 49px;

    content: ' ';

    background-image: url('../img/icecream.svg');
    background-repeat: no-repeat;
}

.cow::before
{
    position: absolute;
    top: 10px;
    left: 22px;

    width: 49px;
    height: 49px;

    content: ' ';

    background-image: url('../img/cow.svg');
    background-repeat: no-repeat;
}

.ingrodient::before
{
    position: absolute;
    top: 10px;
    left: 22px;

    width: 49px;
    height: 49px;

    content: ' ';

    background-image: url('../img/leaf.svg');
    background-repeat: no-repeat;
}

.temperature::before
{
    position: absolute;
    top: 10px;
    left: 22px;

    width: 49px;
    height: 49px;

    content: ' ';

    background-image: url('../img/temperature.svg');
    background-repeat: no-repeat;
}


/* Блог и подписка |INDEX|
     ========================================================================== */

.news
{
    width: 100%;
    margin-top: 40px;
}

.news > .container
{
    display: flex;
}

.blog
{
    display: flex;

    width: 49%;
    margin-right: 26px;

    border-radius: 15px;
    background-color: #fff;
    background-image: url('../img/blogbg.jpg');
    background-position: right center;
    background-size: cover;
}

.blog p
{
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;

    display: flex;

    max-width: 279px;
    margin-right: auto;
    padding-left: 20px;

    color: #323232;
}

.blog b
{
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;

    display: block;

    width: 50%;
    margin-right: auto;
    padding-left: 20px;

    text-decoration: underline;

    color: #323232;

    text-decoration-color: #323232;
}

.blog span
{
    background-color: rgba(255, 255, 255, .8);
}

.subscription
{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;

    display: flex;

    width: 49%;

    color: #323232;
    border-radius: 15px;
    background: linear-gradient(135deg, #f8f7f4 12.5%,#92cdff 12.5%,
        #92cdff 25%,#f8f7f4 25%, #f8f7f4 37.5%, #fe9e90 37.5%, #fe9e90 50%,
        #f8f7f4 50%, #f8f7f4 50%, #f8f7f4 62.5%, #92cdff 62.5%, #92cdff 75%,
        #f8f7f4 75%, #f8f7f4 87.5%,#fe9e90 87.5%);
    background-repeat: repeat;
    background-size: 30px 30px;
}

.subscription form
{
    margin: 6px;
    padding: 0;

    border-radius: 10px;
    background-color: #f8f7f4;
}

.subscription p
{
    font-size: 16px;

    width: 92%;
    margin-left: 24px;
    padding-bottom: 28px;
}

.subscription-description
{
    color: #5a5a5a;
}

.subscription input[type='email']
{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    width: 60%;
    height: 44px;
    padding-left: 15px;

    border: 1px solid rgba(178, 178, 178, .52);
    border-radius: 5px;
    background-color: #fff;
}

.subscription-btn
{
    margin-right: 0;
    margin-left: auto;
    padding: 10px 17px;
}

.subscription input[type='email']:hover
{
    box-shadow: inset 0 0 0 1px rgba(154, 154, 154, .52);
}

/* Адресс и карта |INDEX|
     ========================================================================== */
.map-container
{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0;
}

.map-api
{
    display: flex;
    flex-direction: row-reverse;

    max-width: 1200px;
    height: 430px;
    margin-top: 40px;

    vertical-align: middle;

    background-image: url('../img/map.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.adress
{
    width: 302px;
    height: 305px;
    margin: 27px;
    margin-top: 60px;
    padding-left: 25px;

    color: #323232;
    border-radius: 15px;
    background-color: #fff;
}
.adress p:first-child
{
    display: block;

    width: 148px;
    margin-top: 30px;
}

.adress p
{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    margin: 0;
}

.adress b
{
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;

    display: block;

    width: 220px;
    margin: 6px 0;
}

.adress b:first-of-type
{
    margin: 0;
    margin-bottom: 19px;
}


.adress-btn
{
    display: block;

    margin-top: 26px;
    margin-right: 26px;
    padding: 11px 18px;
}

/* Обратная связь |INDEX|
     ========================================================================== */

.feedback p
{
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;

    margin-left: 25px;

    color: #323232;
}

.feedback input[type='text'],
.feedback input[type='email']
{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    width: 267px;
    height: 44px;
    padding-left: 15px;

    border: 1px solid rgba(178, 178, 178, .52);
    border-radius: 5px;
    background-color: #fff;
}
.feedback input[type='text']:hover,
.feedback input[type='email']:hover
{
    box-shadow: inset 0 0 0 1px rgba(154, 154, 154, .52);
}

.feedback textarea
{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    width: 428px;
    height: 155px;
    padding-top: 13px;
    padding-left: 15px;

    border: 1px solid rgba(178, 178, 178, .52);
    border-radius: 5px;
    background-color: #fff;
}


.feedback
{
    position: fixed;
    z-index: 10;
    top: 120px;
    left: 50%;

    display: none;
    align-items: center;

    width: 500px;
    height: 500px;
    margin-left: -230px;

    border-radius: 10px;
    background-color: #f8f7f4;
}

.feedback-send-btn
{
    position: absolute;
    right: 24px;
    bottom: 40px;

    padding: 12px 24px;
}

.feedback-close-btn
{
    position: absolute;
    top: 16px;
    right: 17px;

    visibility: hidden;

    width: 17px;
    height: 17px;
}

.feedback-close-btn::before
{
    position: absolute;
    right: 6px;

    visibility: visible;

    width: 17px;
    height: 17px;

    content: ' ';

    background-image: url('../img/x.svg');
    background-size: cover;
}

/* ПАГИНАЦИЯ
     ========================================================================== */
.pagination-list
{
    margin-top: 80px;
}

.pagination
{
    display: flex;
    justify-content: space-between;

    width: 22%;
    margin-right: 0;
    margin-left: auto;

    list-style: none;
}
/* ФУТЕР
     ========================================================================== */
.main-footer a
{
    color: #fff;
}

.main-footer
{
    width: 100%;
    margin-top: 20px;
}

.main-footer > .container
{
    display: flex;
    justify-content: space-between;
}

.social-media
{
    display: flex;

    width: 200px;
    padding-left: 0;
}

.social
{
    margin-top: 16px;
    margin-right: 11px;

    opacity: .8;
}

.twitter
{
    display: inline-block;

    width: 34px;
    height: 34px;

    border: 4px solid #ccc;
    border-radius: 50%;
    background-image: url('../img/twitter.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 108%;
}


.instagram
{
    display: inline-block;

    width: 34px;
    height: 34px;

    border: 4px solid #ccc;
    border-radius: 50%;
    background-image: url('../img/instagram.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 108%;
}

.facebook
{
    display: inline-block;

    width: 34px;
    height: 34px;

    border: 4px solid #ccc;
    border-radius: 50%;
    background-image: url('../img/facebook.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 108%;
}

.vk
{
    display: inline-block;

    width: 34px;
    height: 34px;

    border: 4px solid #ccc;
    border-radius: 50%;
    background-image: url('../img/vk.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 108%;
}

.social:hover,
.social:focus
{
    opacity: 1;
}

.social:active
{
    opacity: .7;
    border-color: #fff;
}

.footer-info
{
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    width: 380px;
}

.footer-info li
{
    width: 170px;
}

.footer-copyright
{
    display: flex;
    align-self: flex-end;
    flex-direction: column;
}

.social-media,
.footer-info
{
    list-style: none;
}

.footer-info-link
{
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;

    display: inline-block;

    padding-top: 7px;
}

.footer-info-link::after
{
    display: block;

    height: 1px;

    content: ' ';

    background-color: rgba(255, 255, 255, .2);
}

.footer-info-link:hover,
.footer-info-link:focus
{
    color: #ffbc9e;
}

.footer-info-link:hover + .footer-info-link::after,
.footer-info-link:focus + .footer-info-link::after
{
    background-color: #ffbc9e;
}

.provider
{
    font-weight: 700;

    position: relative;
}

.provider::before
{
    position: absolute;

    content: ' ';

    background-image: url('../img/black-heart.svg');
    background-repeat: no-repeat;
}

.footer-copyright p
{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.copyright-link
{
    text-decoration: underline;

    text-decoration-color: #b1c9bb;
}

.copyright-link:hover,
.copyright-link:focus
{
    color: #ffbc9e;

    text-decoration-color: #ffbc9e;
}
